body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    color: #6c3640;
}

.fondocolor {
    background-color: #fff3f3;
}

header {
    background-color: #ffdbdb;
    text-align: center;
    padding: 20px;
}

header h1 {
    font-size: 36px;
    color: #e82a4e;
}

main {
    padding: 20px;
}

h2 {
    font-size: 24px;
    color: #e82a4e;
}

p {
    line-height: 1.6;
}

.secttext {
    background-color: #ffe5e5;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.sectimagenes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 30px;
}

.fotos img {
    width: 100%; 
    height: auto; 
    max-width: 350px; 
    max-height: 500px; 
    border-radius: 10px; 
    border: 2px solid red; 
    margin-bottom: 10px; 
}

/* Estilos adicionales para hacerlo responsive */
@media screen and (max-width: 768px) {
    
    .sectimagenes {
        justify-content: center;
    }
}

@media screen and (max-width: 480px) {
    
    .sectimagenes {
        justify-content: center;
    }
}


.fotos {
    flex: 1; 
    text-align: center;
}

.fotos img {
    width: 350px;
    height: 500px;
    border: 3px solid rgb(192, 62, 62);
    border-radius: 10px;
}

/* footer */
footer {
    background-color: #ffdbdb;
    text-align: center;
    padding: 10px;
    bottom: 0;
    left: 0;
    width: 100%;
}

footer p {
    font-size: 14px;
    color: #6c3640;
}

/* Estilos adicionales para hacerlo responsive */
@media screen and (max-width: 768px) {
    /* Cambiar el número de imágenes por fila en tablet */
    .sectimagenes {
        justify-content: center;
    }
}

@media screen and (max-width: 480px) {
    /* Cambiar el número de imágenes por fila en móviles */
    .sectimagenes {
        justify-content: center;
    }
}